html {
  height: 100%
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://mondrian.mashable.com/uploads%252Fcard%252Fimage%252F817930%252F6f16cde8-97d0-4bc0-a3c5-574c562a0521.jpg%252F950x534__filters%253Aquality%252880%2529.jpg?signature=5go2ajP9In89ZtddKiDoNtf89oE=&source=https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
